.matchHistory {
  position: absolute;
  left: 15dvw;
  width: 85dvw;
  height: auto;
}

.matchesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.match {
  height: 80px;
  display: flex;
  align-items: center;
}
